<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>
    <form  method="POST" action='/register'>
        <p>
          <label>seu email:
            <input
              type="text"
              name="email"
              required
              size="32"
              maxlength="64" />
          </label>
        </p>
        <p>
        <label>sua senha:
            <input
                type="password"
                name="senha"
                required
                size="32"
                maxlength="64" />
            </label>
          </p>
        <p>
          <button>criar usuario</button>
        </p>
      </form>
      <a href="http://localhost:3000/usuarios">
      <button>usuarios</button>
      </a>

</body>
</html>