<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles.css">
</head>
<body>
    <% console.log(linhas[0].email) %>
    <% for (let i=0; i < linhas.lenght; i++) { %>
        <br>
        <h3><%= linhas[i].senha %> $</h3>
    <% } %>

    <div>

        <div id="table"></div>
        <button id="btn">gerara tabela</button>
    </div>
<!--     
    <script>
let btnGet = document.querySelector('#btn');
let myTable = document.querySelector('#table');
let employees = linhas;
let headers = employees.map(({name})=>name);

btnGet.addEventListener('click', () => {
    let table = document.createElement('table');
    let headerRow = document.createElement('tr');

    headers.forEach(headerText => {
        let header = document.createElement('th');
        let textNode = document.createTextNode(headerText);
        header.appendChild(textNode);
        headerRow.appendChild(header);
    });

    table.appendChild(headerRow);

    employees.forEach(emp => {
        let row = document.createElement('tr');

        Object.values(emp).forEach(text => {
            let cell = document.createElement('td');
            let textNode = document.createTextNode(text);
            cell.appendChild(textNode);
            row.appendChild(cell);
        })

        table.appendChild(row);
    });

    myTable.appendChild(table);
});
    </script> -->
</body>
</html>